.textArea{
  width: 92%;
  resize: none;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 18px;
  z-index: 100;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
  :focus{
    opacity: 1;
  }
  &::-webkit-scrollbar {
    width: 10px;
    cursor: default;
  }
  &::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  &::-webkit-scrollbar-thumb {
    background: #cccccc;
  }
}