  %icon {
    opacity: 0.6;
    height: 15px;
    width: 15px;
  }

.labels-picker {
  &__absolute {
    position: absolute;
    z-index: 200;
    margin: auto;
  }
  &__container {
    height: auto;
    width: 150px;
    padding: 0 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    background: rgb(250, 250, 250);
  }
  &__labels-box {
    overflow-y: auto;
    width: 100%;
    max-height: 240px;
    &::-webkit-scrollbar {
      width: 10px;
      cursor: default;
    }
    &::-webkit-scrollbar-track {
      background: #eeeeee;
    }
    &::-webkit-scrollbar-thumb {
      background: #cccccc;
    }
  }
  &__label-wrapper {
    @include flex(null,space-around);
    z-index: 100;
    height: 30px;
    width: 100%;
    padding-bottom: 5px;
  }
  &__label-wrapper--label {
    width: 80%;
    padding: 10px 0;
    font-size: 14px;
  }
    &__label-wrapper--box-icon {
@extend %icon;
    cursor: pointer;
  }
  &__input-wrapper {
    @include flex(null,space-around);
    height: 40px;
    width: 100%;
  }
  &__input-wrapper--input {
    width: 80%;
    padding: 10px 0;
    font-size: 14px;
  }

  &__input-wrapper-search-icon{
@extend %icon;
    cursor: default;
  }
}
