// style inherited by login-form and signup-form
%form {
  @include flex(column nowrap, space-around);
  z-index: $zIndex1;
  width: 420px;
  border: 4px solid $white;
  border-radius: 8px;
  background: $white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 1px 3px rgba(0,0,0,0.24);
}

.form{
  &__title {
  font-size: 32px;
  font-weight: bold;
}

&__password-reset{
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    color: $hoverFontColor;
  }
}

&__inputs-wrapper {
  @include flex(column nowrap, flex-start);
  width: 80%;
  height: auto;
}

&__bottom-text-wrapper{
  text-align: center;
}

&__bottom-text-wrapper--text {
  font-size: 12px;
  text-align: center;
}

&__bottom-text-wrapper--link {
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  &:hover {
    color: $hoverFontColor;
  }
}

&__button {
  transition: all 0.2s ease-in-out;
  width: 70%;
  padding: 10px 20px;
  border-radius: 10px;
  background: $gradient;
  cursor: pointer;
  color: $white;
  font-size: 20px;
  &:hover {
    transform: scale(1.02);
  }
}}

.auth {
  //container which positioning form
  &__container {
    @include flex();
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, transparent 39.9%,$white 40%),linear-gradient(to left, #ff5f6d, #ffc371);
  }
  &__login-form {
    @extend %form;
    height: 520px;
  }
  &__signup-form {
    @extend %form;
    height: 720px;
  }
}
