@mixin form($property) {
    width: 420px;
    height: $property;
    background: rgb(245, 245, 245);
    border: 4px solid rgb(250, 250, 250);
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.auth {
  &__container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #ff5f6d, #ffc371);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  &__loginForm{
      @include form(520px)
  }
  &__signupForm{
      @include form(720px)
  }
  &__title {
  font-size: 32px;
  font-weight: bold;
}
&__changeAuth {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $hoverFontColor;
  }
}
&__text {
  font-size: 12px;
  text-align: center;
}
&__inputWrapper {
  height: auto;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
&__button{
    width: 70%;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(to left, #ff5f6d, #ffc371);
  color: rgb(250, 250, 250);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  :hover {
    transform: scale(1.02);
  }
}
}
