$bg-img: url("../../Assets//Images/Home-background.jpg");

%link {
  z-index: $zIndex1;
  transition: all 0.2s ease-in-out;
  color: $white;
  font-size: 22px;
}

.home {
  z-index: $zIndex1;

  &__container {
    width: 100vw;
    height: 100vh;
    background-image: $bg-img;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__header {
    @include flex(null, space-between);
    width: 100vw;
    height: 90px;

    & div {
      @include flex();
      width: 20%;
      color: $white;
      font-size: 40px;
    }
    & nav {
      @include flex(null, space-around);
      width: 50%;
      height: inherit;
    }
  }

  &__navLink {
    @extend %link;
    &:hover {
      color: rgb(210, 210, 210);
    }
  }
  &__loginLink {
    @extend %link;
    padding: 10px 30px;
    border-radius: 8px;
    border: 2px solid rgba(250, 250, 250, 0);

    &:hover {
      border: 2px solid rgb(250, 250, 250);
    }
  }
  &__textWrapper {
    @include flex(column nowrap);
    width: 100vw;
    height: calc(100% - 90px);

    &--autor {
      font-size: 20px !important;
      font-weight: 300;
    }

    & p {
      max-width: 900px;
      opacity: 0.9;
      color: $white;
      font-size: 24px;
      text-align: center;
      font-style: italic;
    }
  }
}
