body {
  margin: 0;
  color: $black;
  overflow-x: hidden;
  font-family: 'Roboto',sans-serif !important;
}
  ::-webkit-scrollbar {
    width: 10px;
    cursor: default;
  }
  ::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
  }

input,button{
  border: none;
  outline: none;
  text-decoration: none;
  background: $white;
}

a{
  text-decoration: none;
  color: $black;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

span, h1, h2, h3, h4, h5, h6, p, input, button, textarea{
  font-family: 'Roboto',sans-serif;
}