.side-menu{
&__container{
    @include flex(column nowrap, flex-start,flex-start);
    position:fixed;
    height: calc(100% - 90px);
    margin-top: 80px;
    padding-top: 10px;
    left: 0;
    width: 280px;
    overflow-x: hidden;
}
}