.board {
  &__wrapper {
    @include flex(null, center, flex-start);
    width: 100vw;
    height: auto;
  }
  &__container {
    @include flex(column nowrap, space-around);
    width: calc(100vw - 300px);
    height: auto;
  }
  &__container--masonry {
    width: 88%;
    margin: 60px 0;
  }
  &__container--separatingLine {
    width: inherit;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  &__container--lineText {
    margin-left: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.35);
  }
  &__side-menu-place-holder {
    width: 10px;
    height: 100px;
  }
}
