body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.75);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,button{
  border: none;
  outline: none;
  text-decoration: none;
  background: rgb(250,250,250);
  font-family: 'Roboto', sans-serif;

}

a{
  text-decoration: none;
  color: rgba(0,0,0,0.65)
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

h1{
  font-weight: normal;
}

textarea{
  font-family: 'Roboto',sans-serif;
}