$black: rgba(0,0,0,0.65);
$white: rgb(250,250,250);
$gradient: linear-gradient(to left, #ff5f6d, #ffc371);
$hoverFontColor: rgba(0,0,0,1);

$defaultFont: 'Roboto',sans-serif;

$zIndex0: 0;
$zIndex1: 1;
$zIndex2: 2;
$zIndex3: 3;
$zIndex4: 4;
$zIndex5: 5;